#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file was copied from Debian's qbootctl package at [1]
#  https://salsa.debian.org/DebianOnMobile-team/qbootctl/-/blob/debian/latest/debian/qbootctl.service
#
#  The Debian file was originally copied from systemd:
#  https://github.com/systemd/systemd/blob/main/units/systemd-bless-boot.service.in
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Mark the Current Boot slot as Good
DefaultDependencies=no
Requires=boot-complete.target
After=local-fs.target boot-complete.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/qbootctl -m

[Install]
WantedBy=multi-user.target
